<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include('head'); %>
</head>

<body>
    <header>
        <%- include('header'); %>
    </header>
    <div class="container my-5">
        <main role="main">
            <section style="padding: 10px;">
                <div style="padding-top:14px; color:deeppink">
                    <h1>Tận tâm - Chu đáo - Chất lượng</h1>
                    <h2>Trải nghiệm trọn vẹn - Giá cả phải chăng.</h2>
                </div>
                <div class="col-xs-12">
                    <form class="form-inline mt-2 mt-md-0">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"
                                        class="bi bi-geo-alt" viewBox="0 0 16 16">
                                        <path
                                            d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    </svg>
                                </span>
                            </div>
                            <input class="form-control mr-sm-2" type="search" size="90" placeholder="Bạn muốn đi đâu?">
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-5">
                                <div class="input-group">
                                    <input class="form-control" type="date" class="form-control" id="ngaydi">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-5">
                                <div class="input-group">
                                    <select class="custom-select d-block w-100" id="state" required>
                                        <option value="">Khởi hành từ</option>
                                        <option>Tp. Hồ Chí Minh</option>
                                        <option>Bà Rịa-Vũng Tàu</option>
                                        <option>Đồng Nai</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2 ">
                                <button class="btn btn-default" type="button">
                                    <svg width="1.6em" height="1.6em" style="color:deeppink" viewBox="0 0 16 16"
                                        class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                        <path fill-rule="evenodd"
                                            d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
            <%- include('menu'); %>
            <%- include('dstour'); %>
        </main>
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <%- include('footer'); %>
        </footer>
    </div>
</body>

</html>