<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include('../layouts/head'); %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
        <style>    
            .linear button{
                border-radius: 50%;
                width: 70px;
                height: 70px;
                transition: all 0.5s;
                position: absolute;
                top: 40%;
                left: 40%;
                background-color: rgba(88, 87, 87, 0);
                border: 1px solid white;
            }
            .linear button:hover{
                border-radius: 50%;
                width: 70px;
                height: 70px;
                background-color: rgb(88, 87, 87);
            }
            .linear button i{
                font-size: 20px;
                color: white;
            }
        </style>
</head>

<body>
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
                <video width="100%" controls>
                    <source src="https://webvn.com/wp-content/uploads/2014/12/mov_bbb.mp4" type="video/mp4">
                    </video>
          </div>
        </div>
      </div>
    <header>
        <%- include('../layouts/header'); %>
    </header>
    <section style="margin-top: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <img src="../images/<%- sanpham.Image %>" width="350px" height="306px">
                    <div class="linear">
                        <button type="button" data-toggle="modal" data-target="#myModal"
                        ><img
                                ><i class="fa fa-play"></i></button>
                    </div>
                </div>
                <div class="col-7">
                    <h3>
                        <%-sanpham.Name%>
                    </h3>
                    <p>Giá: <%-sanpham.Cost%>
                    </p>
                    <h3 style="margin-top: 10px; font-family: calibry;">Mô Tả Sản Phẩm:</h3>
                    <p class="ml-3"> <%-sanpham.Mota%></p><button style="margin-left: 20px;" class="btn-danger" type="button" id="thanhtoan1">Xem Ngay</button>
                </div>
                
            </div>
        </div>
        </div>
    </section>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="container">
            <%- include('../layouts/footer'); %>
        </div>
    </footer>
</body>

</html>