<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <%- include('../layouts/head'); %>
</head>

<body>
    <header>
        <%- include('header'); %>
    </header>
    <div>
        <%- include('carousel'); %>
    </div>
    <div>
        <div class="col-4 footer-newsletter mb-4">
            <form id="search" action="/search" method="GET" class="d-flex">
                <input name="f" id="f" type="search"><input type="submit" value="Search">
            </form>
        </div>
        <div>
            <%- include(page); %>
        </div>
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <%- include('../layouts/footer'); %>
        </footer>
    </div>
</body>

</html>